/*
Creator: Sam Henningsen
Date created: 11/04/2018
Date last modified:
*/

/*Styling for index elements only*/
article {
    margin-bottom: 15px;
}

article img {
    float: left
}

.right-content {
    float: left;
}