html, body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    background-color: #FFE1A8;
}

header, footer {
    background-color: #702f17;
    color: #e8eef2;
    text-align: center;
    position: relative;
    right: 0;
    left: 0;
    margin: 0;
}
header {
    padding-top: 10px;
    padding-bottom: 8px;
    top: 0;
}

footer {
    padding-top: 8px;
    padding-bottom: 10px;
    bottom: 0;
}

main {
    margin: 7px;
}